.banner {
    width: 100%;
    aspect-ratio: 2 / 1;
    background-image: url("/public/homepage_large.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.textOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
}


@media (max-aspect-ratio: 3/4) {
    .banner {
        background-image: url("/public/homepage_small.jpg");
    }
}